body {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.navbar {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #252525CC;
    color: #ffffff;
}

a {
    list-style: none;
    text-decoration: none;
    color: #020202;
}


.container .article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;

}

.prototip img {
    border-radius: 20px;
    width: 300px;
    height: 250px;
}

.prototip {
    border-color: black;

}

/*CARDS*/

/*CARD 1*/
.container {
    justify-content: center; /*vertical*/
    text-align: center; 
    align-items: center; /*horizontal*/
    /*medidas de prototipo*/
    width: 1440px;
    height: 1140px; 
    display: flex;
    flex-direction: column;

    background-image: url(../images/card1.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: 0px 3.17px 19.04px 0px #BDBDBD3B;
}


.title h1 {
    /*medidas de h1 prototipo*/
    font-family: Poppins;
    font-weight: 600;
    font-size: 100.81px;
    line-height: 40.81px;
    letter-spacing: -0.94px;
}

.title h2 {
    font-family: Poppins; /*fuente + medidas*/
    font-weight: 400;
    font-size: 60.34px;
    line-height: 18.84px;
    letter-spacing: 0px;
}

.logo img {
    border-radius: 50px; /*imagen redonda*/
    width: 100px;
    height: 100px;
    border: 2px solid #0882E0;
    margin-top: 20px;
}



/*CARD 2*/

.container2 {
    justify-content:end; /*vertical*/
    text-align: left; 
    align-items: left; /*horizontal*/
    /*medidas de prototipo*/
    width: 1440px;
    height: 1140px; 
    display: flex;
    flex-direction: column;
    background-image: url(../images/background-card2.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: 0px 3.17px 19.04px 0px #BDBDBD3B;
    font-family: Roboto;
}

.title2 h1 {
    /*medidas de h1 prototipo*/
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 100.81px;
    line-height: 40.81px;
    letter-spacing: -0.94px;
}

.title2 h2 {
    font-family: 'Roboto'; /*fuente + medidas*/
    font-weight: 400;
    font-size: 60.34px;
    line-height: 18.84px;
    letter-spacing: 0px;
}

.punto {
    color: #30D5C8;
    height: 200px;
    width: 200px;
}

.content p {
    font-weight: 400;
    font-size: 60.01px;
    line-height: 100%;
    letter-spacing: 3%;

}

.letra {
    font-weight: 700;
    font-size: 40.01px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: left;
}



/*CARD 4*/

.container4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar4 {
    display: flex;
    flex-direction: row;
    gap: 300px;
}
.parrafo2 {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 22.77px;
    line-height: 144%;
    letter-spacing: 0%;

}

