body {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.navbar {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #252525CC;
    color: #ffffff;
}

a {
    list-style: none;
    text-decoration: none;
    color: #020202;
}


.container .article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;

}

.prototip img {
    border-radius: 20px;
    width: 300px;
    height: 250px;
}

.prototip {
    border-color: black;

}

footer {
    align-items: center;
    background: #333;
}

/*CARDS*/

/*CARD 1*/
.container1 {
    justify-content: center; /*vertical*/
    text-align: center; 
    align-items: center; /*horizontal*/
    /*medidas de prototipo*/
    width: 1440px;
    height: 1140px; 
    display: flex;
    flex-direction: column;
    background-image: url(../images/card1.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: 0px 3.17px 19.04px 0px #BDBDBD3B;
}


.title h1 {
    /*medidas de h1 prototipo*/
    font-family: Poppins;
    font-weight: 600;
    font-size: 100.81px;
    line-height: 40.81px;
    letter-spacing: -0.94px;
}

.title h2 {
    font-family: Poppins; /*fuente + medidas*/
    font-weight: 400;
    font-size: 60.34px;
    line-height: 18.84px;
    letter-spacing: 0px;
}

.logo img {
    border-radius: 50px; /*imagen redonda*/
    width: 100px;
    height: 100px;
    border: 2px solid #0882E0;
    margin-top: 20px;
}



/*CARD 2*/

.container2 {
    margin: 20px; /*Importante para que no se pegue a un borde*/
    padding: 40px;
    justify-content:end; /*vertical*/
    text-align: left; 
    align-items: left; /*horizontal*/
    /*medidas de prototipo*/
    width: 1440px;
    height: 1140px; 
    display: flex;
    flex-direction: column;
    background-image: url(../images/background-card2.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: 0px 3.17px 19.04px 0px #BDBDBD3B;
    font-family: Roboto;
    box-shadow: 0px 3.17px 19.04px 0px #BDBDBD3B;

}

.title2 h1 {
    /*medidas de h1 prototipo*/
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 100.81px;
    line-height: 40.81px;
    letter-spacing: -0.94px;
}

.title2 h2 {
    font-family: 'Roboto'; /*fuente + medidas*/
    font-weight: 400;
    font-size: 60.34px;
    line-height: 18.84px;
    letter-spacing: 0px;
}

.punto {
    color: #30D5C8;
    height: 200px;
    width: 200px;
}

.content p {
    font-weight: 400;
    font-size: 60.01px;
    line-height: 100%;
    letter-spacing: 3%;

}

.letra {
    font-weight: 700;
    font-size: 40.01px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: left;
}


/*CARD 3*/

.container3 {
    margin: 20px;
    padding: 40px;
    justify-content:end; /*vertical*/
    /*medidas de prototipo*/
    width: 1440px;
    height: 1140px; 
    display: flex;
    flex-direction: column;
    background-image: url(../images/background-card3.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: 0px 3.17px 19.04px 0px #BDBDBD3B;
    font-family: 'Roboto';
}

.title3 h1 {
    /*medidas de h1 prototipo*/
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 100.81px; /*original es 40.81px pero cambio para que se ajuste*/
    line-height: 40.81px;
    letter-spacing: -0.94px;
}

.title3 h2 {
    font-family: 'Roboto'; /*fuente + medidas*/
    font-weight: 400;
    font-size: 60.34px;
    line-height: 18.84px;
    letter-spacing: 0px;
}

.punto {
    color: #30D5C8;
    height: 200px;
    width: 200px;
}

.content p {
    font-weight: 400;
    font-size: 60.01px; /*original es 11.22px pero cambio para que se ajuste al prototipo*/
    line-height: 100%;
    letter-spacing: 3%;

}

.button3 button {
    align-items: right;
    justify-content: right;
    background: #00000080; /*fondo*/
    color: #fff; /*letra color igual que prototipo*/
    border: 2px solid #fff; /*borde color*/
    width: 170px; /*tamaño*/
    font-size: 30px;
    height: 100px;
    border-radius: 40px; /*borde boton redondeados*/
}

.button3 {
    margin: 15px;
    display: flex; /*flex*/
    justify-content: flex-end; /*posicionarse derecha*/
}

/*CARD 4*/

.container4 {
    margin: 20px;
    padding: 40px;
        flex-direction: column; /* columna */
    justify-content: center; /* vertical */
    align-items: center;     /* centrae horizontalmente */
    /*medidas de prototipo*/
    width: 1440px;
    height: 1140px; 
    display: flex;
    background-position: center;
    color: #fff;
    box-shadow: 0px 3.17px 19.04px 0px #BDBDBD3B;
    font-family: 'Roboto', Arial;
    color: #1A2B49;
}

.navbar4 {
    display: flex;
    align-items: center;

}

.parrafo41 {

}

.parrafo42 {

}

.logo4 {

}

/*contenedor de cuadro1 y cuadro2*/
.content4 {

}

/*texto from y 6h 45m*/
.cuadro1 {

}

/*distance y 12 km*/
.cuadro2 {

}


/*Decoración y detalles*/
.button4 button {

}

/*Posicionamiento botton*/

.button4 {

}