body {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.navbar {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #252525CC;
    color: #ffffff;
}

a {
    list-style: none;
    text-decoration: none;
    color: #020202;
}


.container .article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;

}

.prototip img {
    border-radius: 20px;
    width: 300px;
    height: 250px;
}

.prototip {
    border-color: black;

}

/*CARDS*/

/*CARD 1*/
.container {
    justify-content: center; /*vertical*/
    text-align: center; 
    align-items: center; /*horizontal*/
    /*medidas de prototipo*/
    width: 1440px;
    height: 1140px; 
    display: flex;
    flex-direction: column;

    background-image: url(../images/)
    background-size: cover;
    background-position: center;

    box-shadow: 0px 3.17px 19.04px 0px #BDBDBD3B;
}


.title h1 {
    /*medidas de h1 prototipo*/
    font-family: Poppins;
    font-weight: 500;
    font-size: 60.81px;
    line-height: 40.81px;
    letter-spacing: -0.94px;
}

.title h2 {
    font-family: Poppins; /*fuente + medidas*/
    font-weight: 400;
    font-size: 30.34px;
    line-height: 18.84px;
    letter-spacing: 0px;
}

.logo img {
    border-radius: 50px; /*imagen redonda*/
    width: 90px;
    height: 90px;
    border: 2px solid #0882E0;

}



/*CARD 2*/

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 1140px;
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
}

.img2 {
    justify-content: center;
    align-items: center;
}



/*CARD 4*/

.container4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar4 {
    display: flex;
    flex-direction: row;
    gap: 300px;
}
.parrafo2 {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 22.77px;
    line-height: 144%;
    letter-spacing: 0%;

}

